@font-face {
  font-family:CircularStd;
  src: url("fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family:Beatrice Display;
  src: url("fonts/Beatrice.otf") format("opentype");
}

@media (max-width: 500px)
{
  .grid-container{
grid-template-columns: auto auto;

  }
}

body {
  background-color: #fffaff;
  font-family: 'CircularStd';
  display: block;


  }

h1 {background-color: #ebf0ee;
font-family: 'Beatrice';
display: flex;
flex-wrap: wrap;
justify-content: center;
}


a:link {
color: black;
text-decoration: none;
}

a:hover {
color: black;
text-decoration: none;
}

a:visited {
color: black;
text-decoration: none;
}

#nom {
  font-size: 25px;
  line-height: 0.9em;
}

#adresse {
  margin-top: 0.66cm;
}

.block {
  width: 26.66cm;
  margin: 0 auto;

}

.square {
  width: 20%;
  height: 20%;
  border: 2px solid black;
  margin: 50px
}

.external {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

  }

  .middle {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
  }

  .table {

    width: 100%;
    border: 2px solid orange;

  }

  .section {

    height: 100px;
    width: 100px;

  }

.category {

    margin: auto;
    text-align: center;

  }

.columncenter {
  width: 50%;
  margin: auto;

}
.button {
  border:  4px solid black;
  padding: 10px;
  position: absolute;


}

.wakkary1{

  margin-top:2%;
  margin-left: 80%;

}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0;
}

.grid-content{
grid-column-start: 3;
grid-column-end: 7;
grid-row-start: 1;
grid-row-end: 4;

padding: 20px;
}


#nom {
  font-size: 2.66cm;
  line-height: 0.9cm;
}

.container {
margin: 50px;
width: 50%;

}

#block {
  width: 20cm;
  margin: 0 auto;
}

#button {
  width: 15cm;
  font-size: 1cm;
  border: 2px solid black;
  margin-bottom: 0.53cm;
  padding: 1.33cm;
}
<!--
-->
#buttonback {
  width: 1cm;
  border:1px solid black;
  margin: 1cm;
  padding: 0.2cm;
  text-align: center;
  font-size: 14px;
}

.moving {
width: 50px;
height:50px;
 background-color:red;
position:fixed;

}

@media (max-width: 600px)
{
  .grid-container{
grid-template-columns: auto auto;

  }
}

/**.can-ov{

}

.overlay {
  position: absolute;
  opacity: 0;
  display: none;
  transition: .3s ease;
  border: 2px solid black;
}

.an-ov:hover .overlay {
  opacity: 1;
  display: block;
}

<div class="an-ov">
  <img src="images/website template-215.png" width=100%>
  <div class="overlay">
    <img src="images/website template-216.png" width=100%>
  </div>
</div>**/
